<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFonts</key>
	<array>
		<string>FrizQuadrataC-Bold.otf</string>
		<string>FrizQuadrataC.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackgroundColor</string>
		<key>UIImageName</key>
		<string>LaunchScreenIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>WOW_API_CLIENT_ID</key>
	<string>$(WOW_API_CLIENT_ID)</string>
	<key>WOW_API_CLIENT_SECRET</key>
	<string>$(WOW_API_CLIENT_SECRET)</string>
</dict>
</plist>
